/microservice-store-cloud/.gradle  
/microservice-store-cloud/gradle  
/microservice-store-cloud/.idea
/microservice-store-cloud/build  
/microservice-store-cloud/*.iml 
/microservice-store-cloud/*/out
.DS_Store  
