<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.store.mapper.ISysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.store.model.SysMenu">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="url" property="url" />
        <result column="sort" property="sort" />
        <result column="isleaf" property="isLeaf" />
        <result column="level" property="level" />
        <result column="parent_id" property="parentId" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="type" property="type" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="MenuVoResultMap" type="com.store.vo.MenuVO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="permission" property="permission" />
        <result column="url" property="url" />
        <result column="sort" property="sort" />
        <result column="isleaf" property="isLeaf" />
        <result column="level" property="level" />
        <result column="parent_id" property="parentId" />
        <result column="icon" property="icon" />
        <result column="path" property="path" />
        <result column="component" property="component" />
        <result column="type" property="type" />
        <result column="del_flag" property="delFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="findMenuByRoleName" resultMap="MenuVoResultMap">
        SELECT
            c.*
        FROM
            tb_sys_role a
                LEFT JOIN
            tb_sys_role_menu b ON b.role_id = a.id
                LEFT JOIN
            tb_sys_menu c ON c.id = b.menu_id
        WHERE
            a.del_flag = 0 AND c.del_flag = 0
                AND a.role_type = #{role}
        ORDER BY c.sort DESC;
    </select>

    <select id="findMenuByUserName" resultMap="BaseResultMap">
        SELECT
                M.id,
                M.name,
                M.url,
                M.sort,
                M.isleaf,
                M.level,
                M.parent_id,
                M.icon
            FROM
                tb_sys_role R
            LEFT JOIN tb_sys_role_menu RM ON R.ID = RM.ROLE_ID
            LEFT JOIN tb_sys_menu M ON RM.MENU_ID = M.ID
            WHERE
                R.ID IN (SELECT
                        u.id
                    FROM
                        tb_sys_user u
                    INNER JOIN tb_sys_role sr ON u.id = sr.id
                    WHERE
                        u.username = #{userName})
    </select>


</mapper>
